PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/datn_ecom?schema=public
JWT_SECRET=replace_me

GMAIL_USER=
GMAIL_PASS=
ADMIN_SECRET=
NEXT_PUBLIC_BASE_URL=

GEMINI_API_KEY=
OPENAI_API_KEY=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=https://test-payment.momo.vn

VNP_TMNCODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
